#TeachersDiv
{
    display:none;
    flex-direction: column;
}
.TeachersButton
{
    width: 25%;
}
.creationForms
{
    display: none;
}
.showHomework:hover
{
    opacity: 75%;
    border: 1px black solid;
    width: 10%;
}
