
#TeachersDiv
{
    display:none;
    flex-direction: column;
    top: 120px;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.TeachersButton
{
    width: 25%;
}
.creationForms
{
    display: none;
}
.showHomework:hover
{
    opacity: 75%;
    border: 1px black solid;
    width: 10%;
}
